@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    height: 100%;
    width: 100%;
}
#app{
    height: 100%;
    width: 100%;
}
td,th{
    text-align: center;
    vertical-align: middle;
}